/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,700;1,900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* height: 90vh;
  width: 90vw; */
}

a {
  color: black;
  text-decoration: none;
}

/* .navigator {
  /* border: 3px solid red; */
  background: white;
  height: 40px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  text-align: end;
  padding: 0 40% 0 50%;

  font-family: Roboto;
  color: grey; */
} */

.group1 {
  margin: 0px 40px 20% 40px;
}

.my_photobox{

  position: fixed;

  width: 35vw ;
  height: 100vh;
  border: 4px solid red;
  background-size: cover;
  background-position:right;
}

.my_photobox img{

  max-width: 100%;
  max-height: 100%;
  
}

/* .my_photo {
  /* position: fixed; */

  /* float: left;
  max-width: 100%;
  max-height: 100%;

  background: url(./Images/webfolio_sp.jpg); */
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./Images/webfolio_sp.jpg); */

 
  /* background-size: cover;
  background-position: center; */
  /* background-repeat: no-repeat; */
} */


.welcome_page{

  float: left;
  height: 100vh;
  background: blueviolet;
  
}
/* .welcome_page {
  float: right;
  height: 100vh;
  width: 50%;

  background: #383e38;

 

  

  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 70px;

  display: flex;
  align-items: flex-start;
} */

/* .welcome_header {
  margin-left: 35px;
  /* border: 2px solid crimson; */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
} */

.welcome_header em {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* .welcome_greeting {
  border: 2px solid crimson;
  display: flex;
  display: block;
  justify-content: right;
} */

@media screen and (max-width: 768px) {
  .group1 {
    height: 50vh;
  }
}
