@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0 0 0 0;
  overflow: scroll;
}

p {
  margin-left: 5%;
  font-size: 40pt;
  color: white;
  position: absolute;
  margin-top: 40%;
}

html {
  scroll-behavior: smooth;
}

.leftHalf {
  width: 50vw;
  height: 100vh;
  float: left;
}

.myPhotoContainer {
  width: 100%;
  height: 100%;
  background: url(./Images/Photos/headShotPhoto.jpg);
  background-position-y: 15%;
  background-size: cover;
}

.rightHalf {
  background: url(./Images/Photos/backgroundPhoto1.jpg);
  width: 50vw;
  height: 100vh;
  position: relative;
  float: right;
}

ul li {
  display: inline;
}

ul .navbarOptions a {
  color: black;
  display: inline-block;
  margin-top: 20px;
  padding: 0 0 0 40px;
  text-decoration: none;
}

.mediaIcon a img {
  display: inline-block;
  margin-top: 20px;
  margin-right: 18px;
  height: 19px;
  width: 19px;
}

.fa-instagram {
  margin-top: 20px;
  margin-right: 18px;
  font-size: 1.33em;
  color: black;
}

.rightHalf h1 {
  color: white;
  font-size: 50pt;
  font-family: Bodoni + Moda;
  position: absolute;
  top: 25%;
  padding: 0 0 0 5%;
}

/* SCROLL ARROW AND ANIMATION */
body .scrollArrow {
  position: absolute;
  height: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 1rem;
  z-index: 1;
  animation: arrow-down 1s alternate infinite;
  transition: scroll-behavior 3s;
}

footer {
  text-align: center;
  margin-bottom: 40px;
  font-size: 10pt;
}

/* CREATES THE SLOW PULSATING FADE IN/FADE OUT EFFECT ON THE SCROLL DOWN ARROW */
@keyframes arrow-down {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
