@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0 0 0 0;
  overflow: scroll;
}

/* body {
  height: 1360px;
} */

.leftHalf {
  /* border: 2px solid blueviolet; */
  /* display: inline; */
  width: 50vw;
  height: 100vh;
  /* position: relative; */
  float: left;

  /* left: 20%; */
}

/* In the event I ever want to make the image smaller I decided to places it within a container inside a container */
.img {
  /* border: 2px solid blueviolet; */
  width: 100%;
  height: 100%;

  background: url(./Images/webfolio_sp.jpg);
  background-position-y: 15%;
  background-size: cover;
}

.rightHalf {
  /* border: 2px solid blueviolet; */

  /* background: #606660; */
  background: url(./Images/righthalf_background\ 2.jpg);

  width: 50vw;
  height: 100vh;

  position: relative;

  float: right;

  /* right: 0px; */
}

.rightHalf ul li {
  display: inline;
}

.rightHalf ul .navbarOptions a {
  color: black;
  display: inline-block;
  margin-top: 20px;
  padding: 0 0 0 40px;
  text-decoration: none;
}

.rightHalf ul .mediaIcon a img {
  display: inline-block;
  margin-top: 20px;
  margin-right: 18px;
  height: 20px;
  width: 20px;
}

/* Hi, Im Brendan Header */
.rightHalf h1 {
  color: white;

  font-size: 50pt;
  font-family: Bodoni + Moda;

  /* text-align: center; */
  position: absolute;
  top: 25%;
  padding: 0 0 0 5%;
}

.projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.projects div {
  float:left
  position:relative;
  border: 2px solid red;
  width: 33%;
  height: 500px;
}

body .scrollArrow{
  position: absolute;
  
  height: 30px;
  
  left: 50%;
  /* margin-left: -5px; */
  /* margin-right: 50%; */
  margin-top: 55%;
  z-index: 1;
}