/* PAGE 2/PROJECTS PAGE */

.projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.row1,
.row2 {
  display: flex;
  /* border: 2px solid red; */
  height: 33.3%;
  width: 100%;
  margin-top: 10px;
  justify-content: space-around;
}

.box1,
.box2,
.box3 {
  position: relative;
  height: 100%;
  overflow: hidden;
}

/* ROW ONE */

.row1 .logo1,
.logo2,
.logo3 {
  position: absolute;
  height: 60rem;
  margin-top: -70%;
}

/* HOVERING OVER ANY PROJECT WILL ZOOM OUT ON THE IMAGE WITHIN THE RESPECTIVE DIV */
.projects div a:hover img {
  position: relative;
  height: 100%;
  display: block;
  margin: auto;
}

/* .box1,
.box2 {
  position: relative;

  height: 100%;
  overflow: hidden;
} */

.row2 .box3 {
  width: 25%;
  height: 100%;
}

.row2 .logo1 {
  position: absolute;
  height: 40rem;
  margin-top: -40%;
  margin-left: -40%;
}

.row2 .logo2 {
  position: absolute;
  height: 95rem;
  margin-top: -115%;
  margin-left: -90%;
}

.row2 .logo3 {
  position: absolute;
  height: 95rem;
  margin-top: -115%;
  margin-left: -90%;
}

.row3 {
  display: flex;
  /* border: 2px solid red; */
  height: 33.3%;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin: 0 10px 0 10px; */
}

.row3 .one {
  display: inline;
  border: 2px solid red;
  width: 70%;
  height: 100%;
}
