.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.box {
  width: 410px;
  height: 280px;
  margin: 45px 0px 0px 5px;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}

.box img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
