.projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.projectType {
  box-sizing: border-box;
  height: 30rem;
  width: 20rem;
  display: flex;
  justify-content: center;
}

.projectType a {
  text-decoration: none;
  color: black;
  font-size: 40pt;
  height: 100%;
  width: 100%;
  border: 2px solid black;
  text-align: center;
}

/* SETS THE BACKGROUND COLOUR WHEN USER HOVERS OVER A PROJECT SELECTION TYPE */
.projectType a:hover {
  background: url(./Images/Photos/backgroundPhoto1.jpg);
}

/* @media screen and (max-width: 600px) {
  .projects {
    display: none;
  }
} */
